<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deal.com.lb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.BaseActivity" />
        <activity android:name=".view.activities.LoginScreen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.activities.ForgetPassword" />
        <activity android:name=".view.activities.HomeScreen" />
        <activity
            android:name=".view.activities.AllCategory"
            android:label="@string/title_activity_all_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activities.BaseToolbarActivity" />
        <activity
            android:name=".view.activities.SubCategory"
            android:label="@string/title_activity_sub_category"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3b0e83e48a0ead5c64c4e6b6952e564cbe8623b9" />

        <activity
            android:name=".view.activities.ProductListing"
            android:label="@string/title_activity_product_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ProductDetail"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.MyWishList"
            android:label="@string/title_activity_my_wish_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.ShoppingCart"
            android:label="@string/title_activity_shopping_cart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>